﻿@model IEnumerable<Kanbanf.Models.Entidades.Quadro>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quadros Removidos</h2>

<p>
    @Html.ActionLink("Voltar para Meus Quadros", "List", "Quadros")
</p>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Nome)</th>
        <th>@Html.DisplayNameFor(model => model.DataDeCriacao)</th>
        <th>@Html.DisplayNameFor(model => model.DataDeAlteracao)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Nome)</td>
        <td>@Html.DisplayFor(modelItem => item.DataDeCriacao)</td>
        <td>@Html.DisplayFor(modelItem => item.DataDeAlteracao)</td>
        <td>
            @Html.ActionLink("Restaurar", "Restore", new { id = item.Id }) |
            @Html.ActionLink("Remover Permanentemente", "Delete", new { id = item.Id })
        </td>
    </tr>
    }

</table>