﻿@model Kanbanf.Models.Entidades.Quadro

@{
    ViewBag.Title = "Criar novo quadro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Quadro</h4>
    <hr />
    <div class="form-group">
        <label for="txtNomeQuadro">Nome</label>
        <input type="text" class="form-control" id="txtNomeQuadro" name="txtNomeQuadro" placeholder="Insira o nome do novo quadro">
    </div> 
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Voltar", "List")
</div>
