﻿@model IEnumerable<Kanbanf.Models.Entidades.Grupo>
@{
                /**/

                ViewBag.Title = "Grupos";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Quadro.Nome</h2>

<p>
    @Html.ActionLink("Criar grupo", "Create") | @Html.ActionLink("Voltar", "List", "Quadros")
</p>
<div class="row flex-nowrap">
    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">@Html.DisplayFor(modelItem => item.Nome)</div>
                <div class="card-body">
                    @Html.DisplayFor(modelItem => item.Posicao)
                    |
                    @Html.ActionLink("<<", "MoveLeft", new { idQuadro = item.Quadro.Id, id = item.GrupoId })
                    |
                    @Html.ActionLink(">>", "MoveRight", new { idQuadro = item.Quadro.Id, id = item.GrupoId })
                    @*@foreach (var id in Enumerable.Range(1, 5))
                        {*@
                    <!-- TODO: Aqui entrarão os cartões! -->
                    @*<div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Card title that wraps to a new line</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>*@
                    @*}*@
                </div>
            </div>
        </div>
    }
</div>